<% if false %>
<p id="notice"><%= notice %></p>

<h1>Homes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path %>

<% end %>

<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
      Link hero
    </p>
    <p class="subtitle">
      Link subtitle
    </p>
  </div>
</section>

<section class="section">
<h1>Apresentação</h1>

<p>A Exposição Científica, Tecnológica e Cultural – <em>EXPOTEC</em> é um evento promovido pelo Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte, campus Santa Cruz, cujo objetivo é promover a partilha de conhecimentos e experiências provenientes de trabalhos acadêmicos desenvolvidos por estudantes e servidores ao longo dos anos de 2020 e 2021.</p>

<p>Neste ano, a <em>10ª Edição da EXPOTEC</em> celebrará o tema <em>“Educação, Ciência e Tecnologia em prol da vida”</em>, visando ressaltar a importância do conhecimento científico para a vida, especialmente frente ao atual contextual da pandemia, bem como ressaltar os esforços empregados pelas diversas áreas do conhecimento que compõem a instituição diante dos desafios impostos por esse período e seus desdobramentos, no qual toda a comunidade acadêmica precisou se reinventar para garantir a oferta e continuidade das atividades de ensino, pesquisa e extensão, tendo como princípio básico a proteção da vida de todos.</p>

<p>Em razão do retorno gradual à presencialidade, o campus Santa Cruz realizará a <em>10ª edição do evento em formato híbrido</em>, entre os dias <em>10 e 11 de janeiro de 2022</em>. A programação constará de atividades remotas abertas à comunidade em geral, com transmissão via canal do Youtube e atividades presenciais (comunicações orais e rodas de conversa), restritas aos participantes do evento, seguindo todos protocolos de biossegurança sanitária.</p>

<p>Se programe e participe!!</p>
</section>

<div class="content">
<h1>Datas Importantes</h1>

<ul>
    <li>Submissão de resumos expandidos e vídeos de apresentação: 08 a 23/12/2021</li>
    <li>Divulgação de trabalhos aceitos: 27 a 30/12/2021</li>
    <li>Realização do evento: 10 e 11/01/2022</li>
    <li>Entrega de versão final de resumo expandido para publicação: 11/02/2021</li>
</ul>

<h1>Orientações e Modelos Oficiais</h1>

<ul>
    <li>Modelo de submissão de resumos expandidos</li>
    <li>Modelo de apresentação para comunicações orais</li>
    <li>Orientações para produção de vídeos de apresentação de trabalhos</li>
    <li>Manual de orientações para avaliadores</li>
</ul>

<h1>Programação</h1>

DIA 01 – 10/01/2022 – SEGUNDA-FEIRA
    • Abertura: 19h – Palestra XX com YY
    • Comunicações orais: 08h às 12h/ 14h às 18h
DIA 02 – 11/01/2022 – TERÇA-FEIRA
    • Comunicações orais: 08h às 12h/ 14h às 18h
    • Rodas de conversa: Relatos de experiência de projetos de Refrigeração e Climatização e Manutenção e Suporte em Informática – 08h às 12h
    • Encerramento: 19h


<h1>Comissão Organizadora</h1>

<h3>Comissão de Avaliação</h3>
Anderson Nicolly Fernandes da Costa<br>
Cristiane Maria Praxedes de Souza Nobrega<br>
Dalia Maria Bezerra Maia<br>
Deyvson de Franca da Silva<br>
Emanuel Adriano Dantas<br>
Jonas Morais Sobrinho<br>
Luiz Fernando Virginio da Silva<br>
Marcelo Henrique Ramalho Nobre<br>
Paulo Augusto de Lima Filho<br>
Pedro Henrique Sales da Costa<br>
Thales Augusto de Oliveira Ramos<br>
Vicente Amintas Jorge

<h3>Comissão de comunicação</h3>

Alessandro de Lima Nobrega<br>
Jonas Morais Sobrinho<br>
Mikael Souto Maior de Sousa<br> 
Rita de Cassia Rocha<br>
Victor Vinicius de Oliveira Ferreira<br>

<h3>Comissão de plataforma digital</h3>

Hadley Magno da Costa Siqueira<br>
Jose Sueney de Lima<br>

<h3>Comissão de logística</h3>

Adriano Martinez Basso<br>
Andre Luiz de Almeida Aloise<br>
Bruna Emanuelly Pereira Lucena<br>
Deyvson de Franca da Silva<br>

<h3>Comissão de infra-estrutura</h3>

Bruno Henrique de Souza<br>
Elizeu Oliveira do Monte Junior<br>
Ricardo Luiz Azevedo Cacho<br>

<h3>Coordenação Geral</h3>

Ana Luiza Palhano Campos Silva<br>
Rodrigo Lopes Barreto<br>

</div>
